<%= form_for @rating, url: {action: "create"} do |form| %>


  <div id="rating-form">
		<label>Rating</label>
	</div>


  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'rating[rate]' 	
	});
</script>