<h1>Edit Rating</h1>
<%= form_for @rating, url: {action: "update"} do |form| %>
<div class='center'>
<% if @dish.picture%>
<%= image_tag(@dish.picture, size: '400x300', :alt => @dish.name) %>
<% end %>
</div>
  <div id="rating-form">
		<label>Rating</label>
	</div>
  <div class="field">
    <label>Review</label>
    <%= form.text_area :comment %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>

<br><br><br><br>
