<p class='sblock'>
    AIT food rating is a community website to for sharing information about various food they’ve eaten in AIT. <br>
    The mechanism of this system is collaborating among students, staffs and stalls within AIT <br>
    to add some informations about new dishes eg. photograph, ingredients, main  tastes and location. <br>
    Let's give it a rating and short review which you would like to share your experience about that dish to others. <br>
    <br>
    These reviews will be helpful for many person in AIT to know more dishes in order to make decision before try them.<br>
    Try it once and found that these knowledges are useful, hope you pleased in challenge to try new dishes<br>
</p>
<br>
<p class='center'><strong>Enjoy :))</strong></p>
