<% if user_signed_in? %>

<p>
  <%= link_to "Change Profile Picture", '' %>
</p>
<p>
  <%= link_to "Edit My Profile", edit_user_registration_path %>
</p>
<p>
  <%= link_to "Ratings & Reviews History", '/home/review' %>
</p>
<%else%>
      <div class='center'>Please Log-In</div>
<% end %>
