<!-- ================================ Ratings ================================ -->
<br>
<h1><%=image_tag('review.png', size: "60x40")%> My Reviews</h1>
<div class='ablock'>
  <div class='ahead'>
  <div class="review">
    <!-- Where the reviews/ratings will go -->
    <%= render @ratings.order(updated_at: :DESC) %>
    <div>
  <%= will_paginate @ratings %>
  </div>
</div>
<div >
