<p id="notice"><%= notice %></p>
<div class='center'>
<p>
  <h2>Category:</h2>
  <%= @category.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @category.user.email %>
</p>
</div>
<p class='center'><%= link_to 'Edit', edit_category_path(@category) %></p>
