<h1>Solution PS1 Dividezero</h1>
<p></p>
<br>1. new method in solution contoller and do divided by zero in the method name to provide the exception
<br>2. add route into config/routes.rb
<br>3. run rake routes command
<br>4. add a link refer to that route path in view file

