<h1>Solution PS1 Google News</h1>
<p></p>
<br>1. Create new method on controller file 
<br>2. GET html data from 'https://news.google.com' using Nokogiri into a variable.
<br>3. Parse the data using nokogiri.
<br>4. Arrange each information which is parsed earlier into a suitable array format which would rather link the image and the title.
<br>5. Create a new view file where we see the  to view the result.

