<h1>Solution PS2 Quotations</h1>
<p>
1. Generate Quotation model by "rails g model Quotation author_name:string category:string quote:text".
</br>
Add new method to basics_controller.rb call quotations.
</br>
Add new quotations.html.erb view.
</br>
Use the pseudocode as a base code.
</p>
</br>
<p>
2. Add dropdown category option and new category text field. 
</br>Select unique category. 
</br>Set priority of new category text field more than select option, handle by basics/quotations controller.
</p>
</br>
<p>
3. Add text field for filtering quotations.
</br>Send the query to the controller for filtering quotations before render to the view.
</p>
</br>
<p>
4. Done personalization by using rails permanent cookies. 
</br>Set the cookie with killed quotation id sperated with comma for supporting multiple quotations kill.
</p>
</br>
<p>
5. Support data exporting by use send_data helper method.
</br>Support quotations importing by file and url. 

</p>

