    
<ul>    
    <li>
		<b><%= link_to "PS6 Peer Evaluation", "https://docs.google.com/document/d/1FLLDZYRFMk1n_83pM-59znryQFmdO_XSwnoPSrC8lrU/edit?usp=sharing", target: "_blank"%></b>
    </li>    
    
    <li>
		<b><%= link_to "PS6 Feedback and Action Plan ", "https://docs.google.com/document/d/1UsBDouek761vQRD2r4_LjiMEnpSkGK5eTbjKrrix6fo/edit?usp=sharing", target: "_blank"%></b>
    </li>

</ul>	