<h1>Assignments</h1>
<font color='#0A2A0A'>
<ul>
	<li>
		<b><a href="solution/index">PS1 Basics</a></b>
	</li>
	<li>
		<b><a href="basics/index">PS2 Basics </a></b>
	</li>
	<li>
		<b><%= link_to "PS3 Planning Web Application", "https://docs.google.com/document/d/1pU8JHtKz8_qlmrG7LBkPXERqhMsp6D5xvGPM9dx_oX4/edit?usp=sharing", target: "_blank"%></b>
	</li>
	<li>
		<b><%= link_to "PS4 Odds, Ends, and User Management", "home/index"%></b>
	</li>
	<li>
		<b><%= link_to "PS5 Content Management, Part I" , "https://docs.google.com/document/d/1pU8JHtKz8_qlmrG7LBkPXERqhMsp6D5xvGPM9dx_oX4/edit?usp=sharing", target: "_blank"%></b>
	</li>
	<li>

	<b><a href="solution/ps6">PS6 User Evaluation</a></b>		
	</li>
		
</ul>
</font>
