<h1>Assignments</h1>
<font color='#0A2A0A'>
<ul>
	<li>
		<b><a href="solution/index">PS1 Basics</a></b>
	</li>
	<li>
		<b><a href="basics/index">PS2 Basics </a></b>
	</li>
	<li>
                <b><a href="https://docs.google.com/document/d/1pU8JHtKz8_qlmrG7LBkPXERqhMsp6D5xvGPM9dx_oX4/edit?usp=sharing">PS3 Planning Web Application </a></b>
        </li>

	<li>
		<b><a href="home/index">PS4 Odds, Ends, and User Management</a></b>
	</li>

</ul>
</font>
